/* You can add global styles to this file, and also import other style files */
html {
    font-size: 100%;
}

.body--color {
    color: #ffffff;
}

.body--background {
    background-color:#23272b;
}

.page-header {
    padding-bottom: .5rem;
    margin: 2.5rem 0;
    border-bottom: 1px solid #eee;
}