<div class="row menu justify-content-md-center">
    <div class="menu__item  menu__item--zoom menu__item--zoom col-sm-6 col-md-4 col-lg-3 mb-3">
        <a (click)='generateRandomPdf()' target="_top" class="btn menu__button btn-primary">
            <span class="fas fa-file-pdf fa-9x menu__icon"></span>
            <div>Get Random PDF</div>
        </a>
    </div>
    <div class="menu__item  menu__item--zoom col-sm-6 col-md-4 col-lg-3 mb-3">
        <a href="https://github.com/eusebiu-biroas/randomfiles.io-api#randomfilesio-api" target="_blank" class="btn menu__button btn-success">
            <span class="far fa-question-circle fa-9x menu__icon"></span>
            <div>Coming soon</div>
        </a>
    </div>
    <div class="menu__item  menu__item--zoom col-sm-6 col-md-4 col-lg-3 mb-3">
        <a href="https://github.com/eusebiu-biroas/randomfiles.io-api#randomfilesio-api" target="_blank" class="btn menu__button btn-success">
            <span class="far fa-question-circle fa-9x menu__icon"></span>
            <div>Coming soon</div>
        </a>
    </div>
    <div class="menu__item  menu__item--zoom col-sm-6 col-md-4 col-lg-3 mb-3">
        <a href="https://github.com/eusebiu-biroas/randomfiles.io-api#randomfilesio-api" target="_blank" class="btn menu__button btn-success">
            <span class="far fa-question-circle fa-9x menu__icon"></span>
            <div>Coming soon</div>
        </a>
    </div>
    <div class="menu__item  menu__item--zoom col-sm-6 col-md-4 col-lg-3 mb-3">
        <a href="https://github.com/eusebiu-biroas/randomfiles.io-api#randomfilesio-api" target="_blank" class="btn menu__button btn-success">
            <span class="far fa-question-circle fa-9x menu__icon"></span>
            <div>Coming soon</div>
        </a>
    </div>
    <div class="menu__item  menu__item--zoom col-sm-6 col-md-4 col-lg-3 mb-3">
        <a href="https://www.linkedin.com/in/eusebiu-biroas/" target="_blank" class="btn menu__button btn-danger">
            <span class="fab fa-linkedin fa-9x menu__icon"></span>
            <div>Connect</div>
        </a>
    </div>
    <div class="menu__item  menu__item--zoom col-sm-6 col-md-4 col-lg-3 mb-3">
        <a href="https://github.com/eusebiu-biroas/randomfiles.io-api" target="_blank" class="btn menu__button btn-info">
            <span class="fab fa-github fa-9x menu__icon"></span>
            <div>Check project on GitHub</div>
        </a>
    </div>
</div>